/*--|BASE CONFIGURATIONS|--*/
@font-face{
font-family:'DM-Sans';
src:url('font/DMSans-Regular.ttf')format('truetype');
}
@font-face{
font-family:'Neue-Machina';
src:url('font/NeueMachina-Ultrabold.ttf')format('truetype');
}
*{
/*font*/
font-family:'DM-Sans';
font-size:1.25vw;
/*display*/
margin:0;
padding:0;
}
*::selection{
/*display*/
background:rgba(255,255,255,0.7);
}
/*--|BASE CONFIGURATIONS|--*/

/*--|HEADER CONFIGURATIONS|--*/
#hd{
/*display*/
position:fixed;
display:flex;
width:100%;
top:0;
padding:0.5vw 0;
justify-content:space-between;
align-items:center;
background:#32D555;
z-index:100;
}
#lg{
/*display*/
display:flex;
padding:1vw;
align-items:center;
}
#ls{
/*font*/
list-style-type:none;
/*display*/
display:flex;
width:30%;
justify-content:space-evenly;
align-items:center;
}
#divhd{
display:none;
}
#mnm{
/*display*/
display:none;
}
#lsm{
/*display*/
display:none;
}
.nvlg{
/*font*/
text-decoration:none;
color:transparent;
/*display*/
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
}
.nvlg:hover{
/*font*/
color:#FFFFFF;
}
.nvls{
/*font*/
text-decoration:none;
color:transparent;
/*display*/
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}
.nvls:hover{
/*font*/
color:#FFFFFF;
}
.imlg{
/*display*/
width:2.5vw;
}
.imls{
/*display*/
width:2vw;
}
@media screen and (max-width:768px){
#hd{
/*display*/
height:10vw;
}
#ls{
/*display*/
display:none;
}
#divhd{
display:flex;
}
#mnm{
/*display*/
display:flex;
width:10vw;
}
#lsm{
/*display*/
position:absolute;
display:none;
width:55vw;
height:90vw;
top:0;
right:-10vw;
padding:2vw;
flex-direction:column;
justify-content:space-around;
align-items:flex-start;
background:rgba(50,213,85,1);
/*border*/
border-radius:10vw;
}
.nvlg h1{
/*font*/
font-size:3vw;
color:#FFFFFF;
}
.nvls{
/*font*/
font-size:4vw;
color:#FFFFFF;
/*display*/
flex-direction:row;
}
.imlg{
/*display*/
width:8vw;
}
.imls{
/*display*/
width:8vw;
padding:5vw;
}
}
/*--|HEADER CONFIGURATIONS|--*/

/*--|FOOTER CONFIGURATIONS|--*/
#ft{
/*display*/
position:absolute;
display:flex;
width:100%;
height:2vw;
bottom:revert;
justify-content:center;
align-items:center;
background:#32D555;
}
@media screen and (max-width:768px){
#ft{
/*display*/
height:15vw;
}
.txftm{
/*font*/
font-size:4vw;
text-align:center;
}
}
/*--|FOOTER CONFIGURATIONS|--*/

/*--|MAIN CONFIGURATIONS|--*/
#sec1{
/*display*/
display:flex;
width:100%;
height:50vw;
margin-top:5vw;
justify-content:space-around;
align-items:center;
background:#011E11;
}
.tt{
/*font*/
font-size:3vw;
text-align:center;
color:#FFFFFF;
/*display*/
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}
.lk1{
/*font*/
text-decoration:none;
color:#FFFFFF;
/*display*/
display:flex;
width:25vw;
height:4vw;
margin:5vw 0;
justify-content:center;
align-items:center;
background:#32D555;
/*border*/
border-radius:50vw;
}
.lk1:hover{
/*font*/
color:#011E11;
}
.im1{
/*display*/
width:30vw;
height:30vw;
clip-path:polygon(40%20%,100%15%,80%100%,20%85%,20%55%,0%40%,0%0%);
z-index:2;
}
.bl1{
/*display*/
position:absolute;
top:18vw;
right:16vw;
width:20vw;
height:20vw;
filter:blur(10vw);
border-radius:50%;
background:#32D555;
}
#sec2{
/*display*/
display:flex;
width:100%;
height:50vw;
justify-content:space-around;
align-items:center;
background:#32D555;
}
.im2{
/*display*/
position:relative;
width:30vw;
height:30vw;
margin:10vw;
clip-path:polygon(0%0%,15%100%,100%100%,85%0%);
z-index:2;
/*border*/
border-radius:0.5vw;
}
.bl2{
/*display*/
position:absolute;
top:68vw;
left:10vw;
width:20vw;
height:20vw;
filter:blur(20vw);
border-radius:50%;
background:#FFFFFF;
}
.dv1{
/*display*/
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}
.tx{
/*font*/
text-align:justify;
text-align-last:center;
color:#FFFFFF;
/*display*/
display:flex;
width:90%;
flex-direction:column;
justify-content:center;
align-items:center;
}
.lk2{
/*font*/
font-weight:900;
text-decoration:none;
color:#FFFFFF;
/*display*/
display:flex;
width:10vw;
margin:3vw;
padding:1vw;
justify-content:center;
align-items:center;
background:#011E11;
/*border*/
border-radius:50vw;
}
.lk2:hover{
/*font*/
color:#011E11;
/*display*/
background:#FFFFFF;
}
#sec3{
/*display*/
display:flex;
flex-direction:column;
width:100%;
height:50vw;
justify-content:center;
align-items:center;
background:#011E11;
}
.dv2{
/*display*/
display:flex;
width:100%;
margin-top:5vw;
flex-direction:row;
justify-content:center;
align-items:center;
}
.dv3{
/*display*/
display:flex;
width:30vw;
flex-direction:column;
justify-content:center;
align-items:center;
}
.im3{
/*display*/
width:20vw;
height:20vw;
clip-path:polygon(0%0%,15%100%,100%100%,85%0%);
z-index:2;
/*border*/
border-radius:0.5vw;
}
.tt1{
/*font*/
font-size:2vw;
text-align:center;
color:#32D555;
}
.lk3{
/*font*/
font-weight:900;
text-decoration:none;
color:#FFFFFF;
/*display*/
display:flex;
width:10vw;
margin:3vw;
padding:1vw;
justify-content:center;
align-items:center;
background:#32D555;
/*border*/
border-radius:50vw;
}
.lk3:hover{
/*font*/
color:#32D555;
/*display*/
background:#FFFFFF;
}
#sec4{
/*display*/
display:flex;
width:100%;
height:50vw;
flex-direction:column;
justify-content:center;
align-items:center;
background:#32D555;
}
.dv4{
/*display*/
display:flex;
height:85%;
flex-direction:row;
justify-content:center;
align-items:center;
}
.dv5{
/*display*/
display:flex;
width:60%;
flex-direction:column;
justify-content:center;
align-items:center;
}
.dv6{
/*display*/
display:flex;
width:70%;
height:10vw;
margin:2vw 5vw;
flex-direction:column;
justify-content:center;
align-items:center;
background:#011E11;
/*border*/
border-radius:1vw;
}
.tt2{
/*font*/
text-align:justify;
color:#FFFFFF;
/*display*/
display:flex;
justify-content:center;
align-items:center;
}
.im4{
/*display*/
width:2vw;
height:2vw;
}
.dv7{
/*display*/
display:flex;
width:50%;
height:100%;
margin:1vw;
flex-wrap:wrap;
justify-content:center;
align-items:center;
overflow:hidden;
/*border*/
border-radius:100%;
box-shadow:1vw 1vw 1vw #011E11;
}
.im5{
/*display*/
width:14.65vw;
height:26vw;
}
.im6{
/*display*/
width:14.65vw;
height:26vw;
}
.im7{
/*display*/
width:21.75vw;
height:20vw;
}
.im8{
/*display*/
width:14.65vw;
height:26vw;
}
.im9{
/*display*/
width:21.75vw;
height:20vw;
}
#sec5{
/*display*/
display:flex;
width:100%;
height:60vw;
justify-content:space-around;
align-items:center;
background:#011E11;
}
.im10{
/*display*/
width:30vw;
height:30vw;
clip-path:polygon(55%20%,100%0%,100%45%,75%60%,70%90%,15%100%,5%5%);
z-index:2;
}
.bl3{
/*display*/
position:absolute;
top:225vw;
left:16vw;
width:20vw;
height:20vw;
filter:blur(10vw);
border-radius:50%;
background:#32D555;
}
.tt3{
/*font*/
color:#FFFFFF;
/*display*/
display:flex;
width:100%;
padding-top:3vw;
justify-content:center;
align-items:center;
}
.tx1{
/*font*/
font-weight:700;
text-align:center;
text-decoration:none;
color:#32D555;
/*display*/
display:flex;
width:100%;
padding:1vw 0;
justify-content:center;
align-items:center;
}
.tx1:hover{
/*font*/
color:#FFFFFF;
}
.dv9{
/*display*/
display:flex;
padding:2vw;
flex-direction:row;
justify-content:center;
align-items:center;
}
.lk4{
/*font*/
text-decoration:none;
color:#011E11;
/*display*/
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}
.lk4:hover{
/*font*/
color:#FFFFFF;
}
.im11{
/*display*/
width:2vw;
height:2vw;
margin:1vw;
padding:1vw;
background:#32D555;
/*border*/
border-radius:100%;
}
.lk4:hover .im11{
/*display*/
background:#FFFFFF;
}
@media screen and (max-width:768px){
#sec1{
/*display*/
height:220vw;
flex-direction:column;
justify-content:space-evenly;
}
.tt{
/*font*/
font-size:6vw;
}
.lk1{
/*font*/
font-size:4vw;
/*display*/
width:80vw;
height:10vw;
}
.im1{
/*display*/
width:80vw;
height:80vw;
}
.bl1{
/*display*/
top:120vw;
right:15%;
left:15%;
width:70vw;
height:70vw;
filter:blur(20vw);
}
#sec2{
/*display*/
height:200vw;
flex-direction:column;
justify-content:space-evenly;
}
.im2{
/*display*/
width:80vw;
height:80vw;
}
.bl2{
/*display*/
top:250vw;
left:15vw;
width:60vw;
height:60vw;
}
.tx{
/*font*/
font-size:4vw;
word-wrap:break-word;
word-break:break-all;
overflow-wrap:break-word;
hyphens:auto;
}
.lk2{
/*font*/
font-size:4vw;
width:25vw;
padding:2vw;
}
#sec3{
/*display*/
height:200vw;
padding:10vw 0;
}
.dv2{
/*display*/
height:100%;
margin-top:0;
flex-direction:column;
justify-content:space-evenly;
}
.dv3{
/*display*/
width:95%;
height:20vw;
margin:5vw 0;
flex-direction:row;
justify-content:space-evenly;
}
.im3{
/*display*/
width:40vw;
height:40vw;
}
.dv3m{
/*display*/
display:flex;
width:100%;
flex-direction:column;
justify-content:center;
align-items:center;
}
.tt1{
/*font*/
font-size:6vw;
text-align:center;
/*display*/
width:100%;
}
.lk3{
/*font*/
font-size:4vw;
/*display*/
width:25vw;
}
#sec4{
/*display*/
height:220vw;
padding:10vw 0;
}
.dv4{
/*display*/
height:100%;
flex-direction:column;
}
.dv5{
/*display*/
width:90%;
flex-direction:column;
}
.dv6{
/*display*/
width:100%;
height:40vw;
flex-direction:column;
justify-content:space-evenly;
}
.tt2{
/*font*/
font-size:4vw;
}
.im4{
/*display*/
width:6vw;
height:6vw;
}
.dv7{
/*display*/
width:70vw;
height:70vw;
}
.im5{
/*display*/
width:23.3vw;
height:36vw;
}
.im6{
/*display*/
width:23.3vw;
height:36vw;
}
.im7{
/*display*/
width:34.75vw;
height:34vw;
}
.im8{
/*display*/
width:23.3vw;
height:36vw;
}
.im9{
/*display*/
width:34.75vw;
height:34vw;
}
#sec5{
/*display*/
height:200vw;
flex-direction:column;
justify-content:space-evenly;
}
.im10{
/*display*/
width:60vw;
height:60vw;
}
.bl3{
/*display*/
top:900vw;
left:25vw;
width:50vw;
height:50vw;
filter:blur(20vw);
}
.tt3{
/*font*/
font-size:6vw;
/*display*/
padding-top:5vw;
}
.tx1{
/*font*/
font-size:5vw;
/*display*/
padding:2vw 0;
}
.im11{
/*display*/
width:10vw;
height:10vw;
margin:5vw;
padding:2vw;
}
}
/*--|MAIN CONFIGURATIONS|--*/

/*--|SOBRE CONFIGURATIONS|--*/
#sec6{
/*display*/
display:flex;
width:100%;
height:80vw;
flex-direction:column;
justify-content:center;
align-items:center;
background:#011E11;
}
.dv10{
/*display*/
display:flex;
justify-content:space-around;
align-items:center;
}
.bl4{
/*display*/
position:absolute;
top:25vw;
left:16vw;
width:20vw;
height:20vw;
filter:blur(10vw);
border-radius:50%;
background:#32D555;
}
.dv11{
/*display*/
display:flex;
width:100%;
justify-content:center;
align-items:center;
}
@media screen and (max-width:768px){
#sec6{
/*display*/
height:320vw;
padding-top:10vw;
}
.dv10{
/*display*/
flex-direction:column;
}
.div1{
/*display*/
margin-top:10vw;
}
.bl4{
/*display*/
top:40vw;
left:10vw;
width:80vw;
height:80vw;
filter:blur(10vw);
}
.dv11{
/*display*/
display:flex;
width:100%;
margin:10vw 0;
justify-content:center;
align-items:center;
}
}
/*--|SOBRE CONFIGURATIONS|--*/

/*--|PROPOSITO CONFIGURATIONS|--*/
#sec7{
/*display*/
display:flex;
width:100%;
height:60vw;
flex-direction:column;
justify-content:center;
align-items:center;
background:#011E11;
}
.dv12{
/*display*/
display:flex;
width:100%;
margin-top:5vw;
flex-direction:row;
justify-content:center;
align-items:flex-start;
}
.dv8{
/*display*/
display:flex;
width:30vw;
flex-direction:column;
justify-content:center;
align-items:center;
}
.tx2{
/*font*/
text-align:justify;
text-align-last:center;
color:#FFFFFF;
/*display*/
display:flex;
width:90%;
flex-direction:column;
justify-content:center;
align-items:center;
}
@media screen and (max-width:768px){
#sec7{
/*display*/
display:flex;
width:100%;
height:350vw;
flex-direction:column;
justify-content:center;
align-items:center;
background:#011E11;
}
.dv12{
/*display*/
display:flex;
width:100%;
flex-direction:column;
justify-content:space-evenly;
align-items:center;
}
.dv8{
/*display*/
display:flex;
width:90%;
margin:10vw 0;
flex-direction:column;
justify-content:center;
align-items:center;
}
}
/*--|PROPOSITO CONFIGURATIONS|--*/

/*--|PAY CONFIGURATIONS|--*/
#sec8{
/*display*/
display:flex;
width:100%;
height:50vw;
flex-direction:column;
justify-content:space-evenly;
align-items:center;
background:#011E11;
}
.dv13{
/*display*/
display:flex;
width:90%;
justify-content:space-around;
align-items:center;;
}
.dv14{
/*font*/
text-align:center;
/*display*/
display:flex;
width:100%;
height:100%;
flex-direction:column;
justify-content:flex-start;
align-items:center;
}
.tt4{
/*font*/
font-size:2vw;
text-align:center;
color:#32D555;
/*display*/
display:flex;
padding:2vw;
justify-content:center;
align-items:center;
}
.tx3{
/*font*/
text-align:left;
color:#FFFFFF;
/*display*/
display:flex;
width:20vw;
flex-direction:column;
justify-content:center;
align-items:center;
}
.im12{
/*display*/
width:15vw;
height:15vw;
}
@media screen and (max-width:768px){
#sec8{
/*display*/
height:350vw;
}
.dv13{
/*display*/
width:90%;
flex-direction:column;
}
.dv14{
/*font*/
text-align:center;
/*display*/
display:flex;
width:100%;
height:100%;
margin:10vw 0;
flex-direction:column;
justify-content:flex-start;
align-items:center;
}
.tt4{
/*font*/
font-size:6vw;
text-align:center;
color:#32D555;
/*display*/
display:flex;
padding:2vw;
justify-content:center;
align-items:center;
}
.tx3{
/*font*/
font-size:4vw;
text-align:left;
color:#FFFFFF;
/*display*/
display:flex;
width:100%;
flex-direction:column;
justify-content:center;
align-items:center;
}
.im12{
/*display*/
width:60vw;
height:60vw;
}
}
/*--|PAY CONFIGURATIONS|--*/