<!--|Import|-->
<link href="../../../assets/css/style.css" rel="stylesheet" />
<!--|Import|-->

<footer id="ft">
	<div class="ft_dv">
		<a href="../politica.html" class="ft_lk">
			<h2 class="ft_tt">
				<img class="ft_im" src="../../../assets/images/botoes/politica.svg" />Política de Privacidad
			</h2>
		</a>
		<a href="../termos.html" class="ft_lk">
			<h2 class="ft_tt">
				<img class="ft_im" src="../../../assets/images/botoes/termo.svg" />Condiciones de uso
			</h2>
		</a>
	</div>
	<p class="ft_tx">
		© 2025 Reservados todos los derechos
		<a class="ft_lk" src="https://www.instagram.com/pr.adalto/">Eklesia Kerigma</a> | Desarrollado por <a class="ft_lk" src="https://www.instagram.com/yuriyoshimiyashiro/">Unique</a>.
	</p>
</footer>