<!--|Import|-->
<link href="../../../assets/css/style.css" rel="stylesheet">
<!--|Import|-->

<header id="hd">
	<div id="lg_dv"><a href="es"><img class="lg" src="../../assets/images/logos/logo.png" alt="Logo Unique"></a>EKLESIA KERIGMA</div>
	<ul id="ls">
		<li><a class="ls_nv" href="es"><img class="ls_im" src="../../assets/images/botoes/home.svg" alt="Icone Home">HOME</a></li>
		<li><a class="ls_nv" href="sobre"><img class="ls_im" src="../../assets/images/botoes/sobre.svg" alt="Icone Sobre">SOBRE NOSOTROS</a></li>
		<li><a class="ls_nv" href="contato"><img class="ls_im" src="../../assets/images/botoes/contato.svg" alt="Icone Contacto">CONTACTO</a></li>
		<li><a class="ls_nv" href="pay"><img class="ls_im" src="../../assets/images/botoes/doar.svg" alt="Icone Donar">DONAR AHORA</a></li>
		<li class="ls_la"><img class="ls_im" src="../../assets/images/botoes/language.svg" alt="Icone Idioma">IDIOMA
			<ul class="ls_ls">
				<li><a class="ls_nv" href="../../"><img class="ls_im" src="../../assets/images/botoes/br.svg" alt="Icone BR">PT/BR</a></li>
				<li><a class="ls_nv" href="../EN/en"><img class="ls_im" src="../../assets/images/botoes/en.svg" alt="Icone EN">EN</a></li>
				<li><a class="ls_nv" href="es"><img class="ls_im" src="../../assets/images/botoes/es.svg" alt="Icone ES">ES</a></li>
			</ul>
		</li>
	</ul>
	<div id="mn_dv" onclick="toggleMenu()"><img id="mn" src="../../assets/images/botoes/menu.svg" alt="Icone Menu"></div>
	<ul id="lsm">
		<li class="ls_li"><a class="ls_nv" href="es">HOME<img class="ls_im" src="../../assets/images/botoes/home.svg" alt="Icone Home"></a></li>
		<li class="ls_li"><a class="ls_nv" href="sobre">SOBRE NOSOTROS<img class="ls_im" src="../../assets/images/botoes/sobre.svg" alt="Icone Sobre"></a></li>
		<li class="ls_li"><a class="ls_nv" href="contato">CONTACTO<img class="ls_im" src="../../assets/images/botoes/contato.svg" alt="Icone Contacto"></a></li>
		<li class="ls_li"><a class="ls_nv" href="pay">DONAR AHORA<img class="ls_im" src="../../assets/images/botoes/doar.svg" alt="Icone Donar"></a></li>
		<li class="ls_la">IDIOMA<img class="ls_im" src="../../assets/images/botoes/language.svg" alt="Icone Idioma">
			<ul class="ls_ls">
				<li class="ls_ls_li"><a class="ls_nv" href="../../">PT/BR<img class="ls_im" src="../../assets/images/botoes/br.svg" alt="Icone BR"></a></li>
				<li class="ls_ls_li"><a class="ls_nv" href="../EN/en">EN<img class="ls_im" src="../../assets/images/botoes/en.svg" alt="Icone EN"></a></li>
				<li class="ls_ls_li"><a class="ls_nv" href="es">ES<img class="ls_im" src="../../assets/images/botoes/es.svg" alt="Icone ES"></a></li>
			</ul>
		</li>
	</ul>
</header>