<!--|Import|-->
<link href="../../../assets/css/style.css" rel="stylesheet">
<!--|Import|-->

<header id="hd">
	<div id="lg_dv"><a href="en"><img class="lg" src="../../assets/images/logos/logo.png" alt="Logo"></a>EKLESIA KERIGMA</div>
	<ul id="ls">
		<li><a class="ls_nv" href="en"><img class="ls_im" src="../../assets/images/botoes/home.svg" alt="Icon Home">HOME</a></li>
		<li><a class="ls_nv" href="about"><img class="ls_im" src="../../assets/images/botoes/sobre.svg" alt="Icon About">ABOUT US</a></li>
		<li><a class="ls_nv" href="contact"><img class="ls_im" src="../../assets/images/botoes/contato.svg" alt="Icon Contact">CONTACT</a></li>
		<li><a class="ls_nv" href="pay"><img class="ls_im" src="../../assets/images/botoes/doar.svg" alt="Icon Donate">DONATE NOW</a></li>
		<li class="ls_la"><img class="ls_im" src="../../../assets/images/botoes/language.svg" alt="Icon Language">LANGUAGE
			<ul class="ls_ls">
				<li><a class="ls_nv" href="../../../"><img class="ls_im" src="../../assets/images/botoes/br.svg" alt="Icon BR">PT/BR</a></li>
				<li><a class="ls_nv" href="en"><img class="ls_im" src="../../assets/images/botoes/en.svg" alt="Icon EN">EN</a></li>
				<li><a class="ls_nv" href="../ES/es"><img class="ls_im" src="../../assets/images/botoes/es.svg" alt="Icon ES">ES</a>
				</li>
			</ul>
		</li>
	</ul>
	<div id="mn_dv" onclick="toggleMenu()"><img id="mn" src="../../../assets/images/botoes/menu.svg" alt="Icon Menu"></div>
	<ul id="lsm">
		<li class="ls_li"><a class="ls_nv" href="en">HOME<img class="ls_im" src="../../assets/images/botoes/home.svg" alt="Icon Home"></a></li>
		<li class="ls_li"><a class="ls_nv" href="about">ABOUT US<img class="ls_im" src="../../assets/images/botoes/sobre.svg" alt="Icon About"></a></li>
		<li class="ls_li"><a class="ls_nv" href="contact">CONTACT<img class="ls_im" src="../../assets/images/botoes/contato.svg" alt="Icon Contact"></a></li>
		<li class="ls_li"><a class="ls_nv" href="pay">DONATE NOW<img class="ls_im" src="../../assets/images/botoes/doar.svg" alt="Icon Donate"></a></li>
		<li class="ls_la">LANGUAGE<img class="ls_im" src="../../assets/images/botoes/language.svg" alt="Icon Language">
			<ul class="ls_ls">
				<li class="ls_ls_li"><a class="ls_nv" href="../../">PT/BR<img class="ls_im" src="../../assets/images/botoes/br.svg" alt="Icon BR"></a></li>
				<li class="ls_ls_li"><a class="ls_nv" href="en">EN<img class="ls_im" src="../../assets/images/botoes/en.svg" alt="Icon ES"></a></li>
				<li class="ls_ls_li"><a class="ls_nv" href="../ES/es">ES<img class="ls_im" src="../../assets/images/botoes/es.svg" alt="Icon ES"></a></li>
			</ul>
		</li>
	</ul>
</header>